body {margin:0; font-family: "Montserrat", sans-serif;}
.greg{background-color: rgb(174, 174, 195); padding: 10px;}
.doug{padding: 10px; background-color: rgb(176, 209, 176)}
.jerry{padding: 10px; background-color: rgb(175, 155, 155); color: white}
.thislink{color: white}